.article {
    font-family: "Nunito", sans-serif;
    line-height: 1.5;
    background-color: azure;
}

.article__paragraph {
    background-color: rgb(201, 248, 248);
    max-width: 700px;
    margin: auto;
}

.article__list {
    background-color: rgb(201, 248, 248);
    max-width: 700px;
    margin: auto;
    box-shadow: 10px 10px 18px -6px #93AEFF;
}

.article__paragraph--pinkShadow {
    box-shadow: 5px 5px 21px 0px #FB93FF;
}

.article__paragraph--greenShadow {
    box-shadow: 5px 5px 21px 0px #A0FF93;
}

.article__paragraph--blueShadow {
    box-shadow: 5px 5px 21px 0px #93AEFF;
}