.body {
    margin: 0 auto;
    background-color: rgba(185, 247, 247, 0.336);
    max-width: 1200px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.layout {
    display: grid;
    grid-template-areas: 
    'navigation main';
}

@media (max-width: 768px) {
    .layout {
        display: block;
    }
}

.container__paragraph {
    grid-area: main;
}

.body--dark {
    background-color: rgb(1, 1, 20);
    color: darkgray;
}
