.button {
    background-color: #62dbc7;
    border: 3px solid rgb(2, 97, 97);
    font-weight: bold;
    font-size: large;
    display: block;
    margin: 0 auto;
}

.button:hover {
    position: relative;
    box-shadow: 5px 5px 16px 2px #3AF2BE;
}