.button {
    background-color: #3764c4;
    font-weight: bold;
    border: none;
    border-radius: 4%;
    font-size: large;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px
}