.header {
    font-family: 'Nunito', sans-serif;
    color: #080808;
    background-color: #19c9ab;
    border: 2px solid darkcyan;
    border-radius: 20px;
    text-align: center;
    margin: 25px auto;
    max-width: 200px;
}