.image {
    margin: 25px 0;
    border: 2px solid rgb(1, 100, 100);
    border-radius: 20px;
    display: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

.js-image--hidden {
    display: block;
}

.container__images {
    display: block;
}

.container__images--hidden {
    display: none;
}