.link {
    color: teal;
    text-decoration: none;
}

.link:visited {
    color: darkcyan;
}

.link:hover {
    color: rgb(5, 48, 46);
    outline: none;
}

.link:active {
    color: rgb(0, 95, 95);
}