.link {
    color: rgb(37, 78, 78);
    text-decoration: none;
}

.link:visited {
    color: darkcyan;
}

.link:hover {
    color: rgb(121, 51, 235);
    border-bottom: 1px solid;
    outline: none;
    padding: 2px;
}

.link:active {
    color: rgb(165, 59, 165);
}