
.header--list {
    padding: 5px;
    margin: 0 auto;
}

.listDefault {
    list-style: square;
    list-style-position: inside;
    line-height: 2;
    margin: 0 auto;
}


@media (max-width: 768px) {
    .listDefault {
        padding: 0;
    }
}
