
.header--list {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(10, 248, 208);
    border: 2px solid rgb(1, 100, 100);
    border-radius: 20px;
    max-width: 60%;
    margin: 40px auto;
    text-align: center;
    padding: 5px;
}

.listDefault {
    list-style: square;
    font-family: 'Roboto', sans-serif;
    padding: 50px;
    margin-left: 25%;
    list-style-position: inside;
    line-height: 2;
}


@media (max-width: 768px) {
    .listDefault {
        padding: 0;
    }
}