
.navigation {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 10px;
}

.navigation__list {
    list-style: none;
    background-color: rgba(5, 192, 192, 0.521);
    border: 1px solid black;
    border-radius: 25px;
    margin: 0 35%;
    padding: 10px;
    line-height: 2;
}

.navigation__link {
    color: blue;
}

.navigation__link:visited {
    color: rgb(46, 0, 119);
}

.navigation__link:hover {
    color: rgb(3, 51, 54);
    background-color: rgb(114, 164, 221);
    border-bottom: 1px solid;
    outline: none;
}

.navigation__link:active {
    color: purple;
}