.tableContainer {
    overflow-x: auto;
    padding: 30px;
}

.table {
    border-collapse: collapse;
    width: 100%;
    color: black;
}

.table__caption {
    background-color: teal;
    border: 1px solid darkcyan;
    border-radius: 20px 20px 0px 0px;
    font-weight: bolder;
    font-size: 25px;
    padding: 10px;
}

.table__cell {
    border: 1px solid #09857a;
    padding: 15px;
    text-align: center;
    background-color: whitesmoke;
}

.table__cell--header {
    background-color: rgb(217, 219, 219);
}

.table__placeName {
    font-weight: normal;
}

.table__row:nth-child(even) .table__cell {
    background-color: white;
}

.table__linkDescription {
    font-size: 10px;
}